@charset "utf-8";

body {font-size: 1.25em; margin: 0 auto; width: 85%;}
a {color: inherit; text-decoration:none;}

#settings {position: absolute; top: 0; right: 1em;}
#settings p {margin: 0; padding: 0; text-align: center;}
#settings img {cursor: pointer; display: block; height: 2.25em; margin: 0 auto;}
#settings img:hover {opacity: 0.5}
#settings.hide {margin-top: -2.25em;}
#settings.show {margin-top: 0;}

#menu {display: none;}
#menu ul {list-style: none; padding-left: 1em;}
#menu.hide {margin-left: -100px;}
#menu.show {margin-left: 0;}

.show, .hide {
    /* we specify the transition length for hiding and showing */
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

header {margin-top: 1em;}
header img {cursor: pointer;}
header img:hover {opacity: 0.5;}
header p {font-size: 2em; margin: -.2em 0 0 0;}
header #description {border-bottom: 1px solid gray; font-size: 0.75em; margin:0; padding:0;}
article h1 {font-size: 1.5em;}
article p {line-height: 1.5em; text-align: justify;}
article ul.tags {list-style: none; padding-left: 0;}
article ul.tags li {display: inline; padding-right: 1em;}
article a img {display: block; margin: 1em auto; width: 100%;}
nav p {text-align: center; word-spacing: 1em;}

article blockquote {font-size: 2em; line-height: 1.5em; width: 50%; margin: 1em auto; padding: 0 1.75em; position: relative;}
article blockquote:before {content: "“"; top: .2em; left: 0;}
article blockquote:after {content: "”"; bottom: -.2em; right: 0;}
article blockquote footer {font-size: .5em; line-height: 1.5em; position: absolute; right: .25em;}
